/*
Header & Nav menu
 */

#log-out {
    cursor: pointer;
    border-radius: 25px;
    margin-left: 20px;
}

#parallax {
    height: 150px;
    width: auto;
    overflow: hidden;
    text-align: center;
    background-image: url("../images");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*
Footer
 */

#footer {
    cursor: pointer
}

/*
Submissions and Forms
 */

.login-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.error-list {
    list-style-type: none;
}

#login-form-error {
    display: none;
}

#login-form-submission, #upload-image {
    cursor: pointer;
    margin-top: 10px;
}

/*
Lists
 */

.list-group-item-hover:hover {
    background-color: #bee5eb;
    cursor: pointer;
}

/*
Admin Pages
 */

#admin-content {
    padding: 25px;
}

#user-details-table {
    margin-top: 30px;
}