{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Welcome</h1>
        {% if logged_in == true %}
            <p>It appears that you are already logged in!</p>
        <a href="/{{user}}/index" class="badge badge-info">Return to my Account</a>
        <p>or</p>
        <form name="log-out" method="post" action="">
            <button id="log-out" class="badge badge-warning" type="submit" name="logout">Log Out</button>
        </form>
        {% endif %}
        {% if logged_in == false %}
        <p>Please Login below to access the examination site.</p>
        {% endif %}
    </div>
    {% if logged_in == false %}
    {% if errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in errors %}
        <li class="error-list">{{error}}</li>
        {% endfor %}
    </div>
    {% endif %}
    {% endif %}
    <div id="login-form-error" class="alert alert-danger" role="alert">
        <li class="error-list">You cannot submit a form with no input specified!</li>
    </div>
    <div class="container align-content-center align-middle login-form">
        <form method="post" action="">
            <div class="form-group">
                <label for="user">Username:</label>
                <input type="text" name="user" id="user" class="form-control" placeholder="Enter Your Name here..." tabindex="1">
            </div>
            <div class="form-group">
                <label for="key">Key:</label>
                <input type="password" name="key" id="key" class="form-control" placeholder="Enter your Key here..." tabindex="2">
            </div>
            <div class="form-actions text-center form-group">
                <button type="submit" name="submit" class="btn btn-primary" id="login-form-submission" tabindex="3">Submit</button>
            </div>
        </form>
    </div>


{% endblock %}